* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/static/images/background.png);
    margin: auto;
    align-items: center;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    background: white;
    margin: 0;
    padding: .5rem 3rem 0rem 3rem;
}

ul {
    list-style-type: none;
}


button {
    box-sizing: border-box;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    background: rgba(187, 212, 230, 0.90);
    color: black;
    border-radius: 2rem;
    font-size: 16px;
    width: 31rem;
    height: 5rem;
    margin: 1.5rem 3rem 1.5rem 3rem;
}

#main {
    margin: 5rem;
    display: flex;
}

.logo {
    color: rgba(0.76, 85.26, 146.45, 0.90);
    font-size: 50px;
    font-family: 'Pad Thai', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
}

.logo1 {
    color: white;
    text-align: left;
    font-size: 50px;
    font-family: 'Pad Thai', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
}
 
.moto {
    margin-right: 2rem;
    text-align: right;
    color: rgba(0.76, 85.26, 146.45, 0.90);
    font-size: 1.5625rem;
    font-style: normal;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    word-wrap: break-word;
    width: 15rem;
    height: 100%;
}

.text {
    margin: 3rem 7rem 0 2rem;
}

.data {
    font-family: 'Noto Sans', sans-serif;
    width: 20rem;
    text-align: left;
    font-size: 2.5em;
    font-style: normal;
    color: white;
    font-weight: 600;
    word-wrap: break-word;

}


.impbtn {
    box-sizing: border-box;
    width: 45rem;
    height: 25rem;
    border: 2rem solid white;
    background-color: white;
    border-radius: 3rem;
    padding: 0 0.5rem 0 0.5rem;
    display: block;
    margin: auto;
    align-items: center;
    text-align: center;
}


.button {
    margin: 0 2rem;
    display: flex;
}

.retbtn {
    font-family: 'Noto Sans', sans-serif;
    border: .5rem solid rgb(202, 0, 0);
    background-color: rgb(202, 0, 0);
    border-radius: .8rem;
    color: white;
}

.retbtn:hover {
    border: .5rem solid white;
    background-color: white;
    border-radius: .8rem;
    color: rgb(202, 0, 0);
    box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.5);
}

.retbutn{
    margin: 2rem 0;
}

.retbutn a{
    text-decoration: none;
}

.inbtn:hover{
    color: white;
    box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.5) ;
}
