{% extends 'base.html' %}
{% block title %}Add Item{% endblock title %}
{% block content %}
<a href="/logistics/">Return</a>
<h1>Add Item</h1>
<form method="post" action="/push_add_item/">
    {% csrf_token %}
    <fieldset style="width: 30rem;">
        <label for="itemid"> ID:</label>
        <input type="text" id="itemid" name="itemid">
        <br> <br>
        <label for="itemname"> Name:</label>
        <input type="text" id="itemname" name="itemname">
        <br> <br>
        <label for="itemresp"> Responsible:</label>
        <select name="itemresp" id="itemresp">
            <option selected disabled hidden>Select<option>
            {% for i in em %}
            <option value="{{i.employee_id}}">{{i.employee_id}} - {{i.employee_name}}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="hidden" name="itemcon" value="good">
   <input type="submit" value="Submit">
    </fieldset>
</form>
{% endblock content %}