{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_add_em_pr.css' %}">
{% endblock %}
{% block title %}Tambah Data Pegawai{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li class="logo">thitiphan</li>
    </ul>
    <ul>
        <li class="moto">Karena semua hanyalah titipan</li>
    </ul>
</nav>
<section id="main">
    <div class="linksl">
        <a class="retbtn" href="/employee/">Kembali</a>
    </div>
    <h1><i class="fa-solid fa-circle-plus"></i> Tambah Data Pegawai</h1>
    <br>
    <form method="post" action="/push_add_employee/">
        {% csrf_token %}
        <div>
            <label for="empid">ID:</label>
            <input type="text" id="empid" name="empid">
            <br> <br>

            <label for="empname">Nama:</label>
            <input type="text" id="empname" name="empname">
            <br> <br>
            
            <label for="empage">Tanggal Lahir:</label>
            <input type="date" id="empage" name="empage">
            <br> <br>

            <label for="empph">Nomer Telepon:</label>
            <input type="tel" name="empph" id="empph" placeholder="081234567891" maxlength="12">
            <br> <br>

            <label for="empgend">Jenis Kelamin:</label>
            <select id="empgend" name="empgend">
                <option value="L">Pria</option>
                <option value="P">Wanita</option>
            </select>
            <br> <br>
        </div>
        <div>
            <label for="empdp">Divisi:</label>
            <select id="empdp" name="empdp">
                <option value="Pengasuh">Pengasuh</option>
                <option value="Logistik">Logistik</option>
            </select>
            <br> <br>

            <label for="empaddr">Alamat:</label>
            <br>
            <textarea name="empaddr" id="empaddr" cols="30" rows="3"></textarea>
            <br> <br>
            
            <input type="submit" id="empsubmit" value="Submit">
        </div>
    </form>
</section>
{% endblock content %}