{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_add_em_pr.css' %}">
{% endblock %}
{% block title %}Tambah Data Orangtua{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li class="logo">thitiphan</li>
    </ul>
    <ul>
        <li class="moto">Karena semua hanyalah titipan</li>
    </ul>
</nav>
<section id="main">
    <div class="linksl">
        <a class="retbtn" href="/parent/">Kembali</a>
    </div>
    <h1><i class="fa-solid fa-circle-plus"></i> Tambah Data Orangtua</h1>
    <form method="post" action="/push_add_parent/">
        {% csrf_token %}
        <div>
            <label for="prid">ID:</label>
            <input type="text" id="prid" name="prid">
            <br> <br>

            <label for="prmname">Nama Ibu:</label>
            <input type="text" id="prmname" name="prmname">
            <br> <br>

            <label for="prmph">Telepon Ibu:</label>
            <input type="tel" name="prmph" id="prmph" placeholder="081234567891" maxlength="12">
            <br> <br>

            <label for="prfname">Nama Ayah:</label>
            <input type="text" id="prfname" name="prfname">
            <br> <br>

            <label for="prfph">Telepon Ayah:</label>
            <input type="tel" name="prfph" id="prfph" placeholder="081234567891" maxlength="12">
            <br> <br>
        </div>
        <div>
            <label for="praddr">Alamat:</label>
            <br><br>
            <textarea name="praddr" id="praddr" cols="30" rows="5"></textarea>
            <br> <br>

            <input type="submit" id="empsubmit" value="Submit">
        </div>
    </form>
</section>
{% endblock content %}