{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_add_eq.css' %}">
{% endblock %}
{% block title %}Tambah Perlengkapan{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li class="logo">thitiphan</li>
    </ul>
    <ul>
        <li class="moto">Karena semua hanyalah titipan</li>
    </ul>
</nav>
<section id="main">
    <div class="linksl">
        <a class="retbtn" href="/logistics/">Kembali</a>
    </div>
    <h1><i class="fa-solid fa-circle-plus"></i> Tambah Perlengkapan</h1>
    <form method="post" action="/push_add_item/">
        {% csrf_token %}
        <label for="itemid">ID:</label>
        <input type="text" id="itemid" name="itemid">
        <br> <br>

        <label for="itemname">Nama:</label>
        <input type="text" id="itemname" name="itemname">
        <br> <br>
        
        <label for="itemresp">PJ:</label>
        <select name="itemresp" id="itemresp">
            <option selected disabled hidden>Pilih<option>
            {% for i in em %}
            <option value="{{i.employee_id}}">{{i.employee_id}} - {{i.employee_name}}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="hidden" name="itemcon" value="Baik">
    <input type="submit" value="Submit">
    </form>
</section>
{% endblock content %}