{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/styleatt.css' %}">
{% endblock %}
{% block title %}Ubah Kehadiran Anak{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li class="logo">thitiphan</li>
    </ul>
    <ul>
        <li class="moto">Karena semua hanyalah titipan</li>
    </ul>
</nav>
<section id="main">
    <div class="linksl">
        <a class="retbtn" href="/children/">Kembali</a>
    </div>
    <h1><i class="fa-solid fa-pen-to-square"></i> Ubah Kehadiran Anak</h1>

    <div class="iden">
        <i class="fa-regular fa-circle-user"></i>
        <h2>{{ch.child_name}} </h2>
        <p>{{ch.child_id}}</p>
    </div>
    <div class="horline"></div>
    <form method="post" action="/push_att_kid/">
        {% csrf_token %}
        <input type="hidden" id="kidid" name="kidid" value="{{ch.child_id}}">

        <div class="time">
            <div class="timel">
                <label for="droptime">Waktu Dropoff</label>
                <p>:</p>
                <input type="time" name="droptime" id="droptime" value="{{ch.in_time|time:'H:i'}}">
            <br> <br>
            </div>
            <div class="timer">
                <label for="picktime">Waktu Pickup</label>
                <p>:</p>
                <input type="time" name="picktime" id="picktime" value="{{ch.out_time|time:'H:i'}}">
            <br> <br>
            </div>
        </div>
        <br>
        <label for="kidatt">Kehadiran:</label>
        <select id="kidatt" name="kidatt">
            <option value="Ya" {% if ch.in_con == "Ya" %} selected {% endif %}>Ya</option>
            <option value="Tidak" {% if ch.in_con == "Tidak" %} selected {% endif %}>Tidak</option>
        </select>
        <br><br>
    
        <input type="submit" id="empsubmit" value="Submit">
    </form>
</section>
{% endblock content %}