{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_add_eq.css' %}">
{% endblock %}
{% block title %}Edit Perlengkapan{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li class="logo">thitiphan</li>
    </ul>
    <ul>
        <li class="moto">Karena semua hanyalah titipan</li>
    </ul>
</nav>
<section id="main">
    <div class="linksl">
        <a class="retbtn" href="/logistics/">Kembali</a>
    </div>
    <h1><i class="fa-solid fa-pen-to-square"></i> Edit Perlengkapan</h1>
    <form method="post" action="/push_edit_eq/">
        {% csrf_token %}
            <input type="hidden" id="itemid" name="itemid" value="{{eq.equipment_id}}">

            <label for="itemname">Nama:</label>
            <input type="text" id="itemname" name="itemname" value="{{eq.equipment_name}}">
            <br> <br>
            <div class="con">
                <label for="itemcon">Kondisi <Br> Perlengkapan</label>
                <p>:</p>
                <select id="itemcon" name="itemcon">
                    <option value="Baik" {% if eq.equipment_con == "Baik" %} selected {% endif %}>Baik</option>
                    <option value="Buruk" {% if eq.equipment_con == "Buruk" %} selected {% endif %}>Buruk</option>
                </select>
            <br><br>
            </div>
            <label for="itemresp">PJ:</label>
            <select name="itemresp" id="itemresp">
                {% for i in em %}
                <option value="{{i.employee_id}}" {% if i.employee_id == eq.resp_id %} selected {% endif %}>{{i.employee_id}} - {{i.employee_name}}</option>
                {% endfor %}
            </select>
            <br> <br>

            <input type="submit" id="itemsubmit" value="Submit">
    </form>
<section>
{% endblock content %}