{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_add_eq.css' %}">
{% endblock %}
{% block title %}Edit Persediaan{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li class="logo">thitiphan</li>
    </ul>
    <ul>
        <li class="moto">Karena semua hanyalah titipan</li>
    </ul>
</nav>
<section id="main">
    <div class="linksl">
        <a class="retbtn" href="/logistics/">Kembali</a>
    </div>
    <h1><i class="fa-solid fa-pen-to-square"></i> Edit Persediaan</h1>
    <form method="post" action="/push_edit_supp/">
        {% csrf_token %}
        <input type="hidden" id="suppid" name="suppid" value="{{sp.supply_id}}">

        <label for="suppname">Nama:</label>
        <input type="text" id="suppname" name="suppname" value="{{sp.supply_name}}">
        <br> <br>
        <label for="suppamt">Jumlah:</label>
        <input type="text" id="suppamt" name="suppamt" value="{{sp.supply_amt}}"> 
        <br> <br>
        <label for="suppresp">PJ:</label>
        <select name="suppresp" id="suppresp">
            {% for i in em %}
            <option value="{{i.employee_id}}" {% if i.employee_id == sp.resp_id %} selected {% endif %}>{{i.employee_id}} - {{i.employee_name}}</option>
            {% endfor %}
        </select>
        <br> <br>
        <input type="submit" id="itemsubmit" value="Submit">
    </form>
</section>
{% endblock content %}