{% extends 'base.html' %}
{% block title %}Edit Toy{% endblock title %}
{% block content %}
<a href="logistics.html">Return</a>
<h1>Edit Toy</h1>
<form method="post" action="/push_edit_toy/">
    {% csrf_token %}
    <fieldset style="width: 30rem;">
        <input type="hidden" id="toyid" name="toyid" value="{{toy.toy_id}}">

        <label for="itemname"> Name:</label>
        <input type="text" id="toyname" name="toyname" value="{{toy.toy_name}}">
        <br> <br>

        <label for="toycon"> Item condition:</label>
        <label><input type="radio" name="toycon" id="toycon" value="good" {% if toy.toy_con == "good" %} checked {% endif %}>Good</label>
        <label><input type="radio" name="toycon" id="toycon" value="bad" {% if toy.toy_con == "bad" %} checked {% endif %}>Bad</label>
        <br> <br>

        <label for="toyresp"> Responsible:</label>
        <select name="toyresp" id="toyresp">
            {% for i in em %}
            <option value="{{i.employee_id}}" {% if i.employee_id == toy.resp_id %} selected {% endif %}>{{i.employee_id}} - {{i.employee_name}}</option>
            {% endfor %}
        </select>
        <br> <br>

        <input type="submit" id="itemsubmit" value="Submit">
    </fieldset>

</form>
{% endblock content %}