{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_add_em_pr.css' %}">
{% endblock %}
{% block title %}Edit Data Orangtua{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li class="logo">thitiphan</li>
    </ul>
    <ul>
        <li class="moto">Karena semua hanyalah titipan</li>
    </ul>
</nav>
<section id="main">
    <div class="linksl">
        <a class="retbtn" href="/parent/">Kembali</a>
    </div>
    <h1><i class="fa-solid fa-pen-to-square"></i> Edit Data Orangtua</h1>
    <form method="post" action="/push_edit_pr/">
        {% csrf_token %}
        <div>
            <input type="hidden" id="prid" name="prid" value="{{pr_1.parent_id}}">

            <label for="prmname">Nama Ibu:</label>
            <input type="text" id="prmname" name="prmname" value="{{pr_1.m_name}}">
            <br> <br>

            <label for="prmph">Telepon Ibu:</label>
            <input type="tel" name="prmph" id="prmph" value="{{pr_1.m_phone}}"placeholder="081234567891" maxlength="12">
            <br> <br>

            <label for="prfname">Nama Ayah:</label>
            <input type="text" id="prfname" name="prfname" value="{{pr_1.f_name}}">
            <br> <br>

            <label for="prfph">Telepon Ayah:</label>
            <input type="tel" name="prfph" id="prfph" value="{{pr_1.f_phone}}" placeholder="081234567891" maxlength="12">
            <br> <br>
        </div>
        <div>
            <label for="praddr">Alamat:</label>
            <br>
            <textarea name="praddr" id="praddr" cols="30" rows="4">{{pr_1.parent_address}}</textarea>
            <br> <br>

            <input type="submit" id="empsubmit" value="Submit">
        </div>
    </form>
</section>
{% endblock content %}