{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_add_eq.css' %}">
{% endblock %}
{% block title %}Edit Mainan{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li class="logo">thitiphan</li>
    </ul>
    <ul>
        <li class="moto">Karena semua hanyalah titipan</li>
    </ul>
</nav>
<section id="main">
    <div class="linksl">
        <a class="retbtn" href="/logistics/">Kembali</a>
    </div>
<h1><i class="fa-solid fa-pen-to-square"></i> Edit mainan</h1>
<form method="post" action="/push_edit_toy/">
    {% csrf_token %}
    <input type="hidden" id="toyid" name="toyid" value="{{toy.toy_id}}">

    <label for="itemname">Nama:</label>
    <input type="text" id="toyname" name="toyname" value="{{toy.toy_name}}">
    <br> <br>

    <label for="toycon">Kondisi Mainan:</label>
    <select id="itemcon" name="itemcon">
        <option value="Baik" {% if toy.equipment_con == "Baik" %} selected {% endif %}>Baik</option>
        <option value="Buruk" {% if toy.equipment_con == "Buruk" %} selected {% endif %}>Buruk</option>
    </select>
    <br><br>

    <label for="toyresp">PJ:</label>
    <select name="toyresp" id="toyresp">
        {% for i in em %}
        <option value="{{i.employee_id}}" {% if i.employee_id == toy.resp_id %} selected {% endif %}>{{i.employee_id}} - {{i.employee_name}}</option>
        {% endfor %}
    </select>
    <br> <br>

    <input type="submit" id="itemsubmit" value="Submit">
</form>
{% endblock content %}