{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_add_em_pr.css' %}">
{% endblock %}
{% block title %}Edit Data Pegawai{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li class="logo">thitiphan</li>
    </ul>
    <ul>
        <li class="moto">Karena semua hanyalah titipan</li>
    </ul>
</nav>
<section id="main">
    <div class="linksl">
        <a class="retbtn" href="/employee/">Kembali</a>
    </div>
    <h1><i class="fa-solid fa-pen-to-square"></i> Edit Data Pegawai</h1>
    <form method="post" action="/push_edit_em/">
        {% csrf_token %}
        <div>
        <input type="hidden" id="empid" name="empid" value="{{em.employee_id}}">

        <label for="empname">Nama:</label>
        <input type="text" id="empname" name="empname" value="{{em.employee_name}}">
        <br> <br>
        
        <label for="empage">Tanggal Lahir:</label>
        <input type="date" id="empage" name="empage" value="{{em.employee_birth|date:'Y-m-d'}}">
        <br> <br>

        <label for="empph">Nomer Telepon:</label>
        <input type="tel" name="empph" id="empph" value="{{em.employee_phone}}" maxlength="12">
        <br> <br>

        <label for="empgend">Jenis Kelamin:</label>
        <select id="empgend" name="empgend">
            <option value="L" {% if em.employee_gender == "L" %} selected {% endif %}>Pria</option>
            <option value="P" {% if em.employee_gender == "P" %} selected {% endif %}>Wanita</option>
        </select>
        <br> <br>
        </div>
        <div>
        <label for="empdp">Divisi:</label>
        <select id="empdp" name="empdp">
            <option value="Pengasuh" {% if em.employee_department == "Pengasuh" %} selected {% endif %}>Pengasuh</option>
            <option value="Logistik" {% if em.employee_department == "Logistik" %} selected {% endif %}>Logistik</option>
        </select>
        <br> <br>

        <label for="empaddr">Alamat:</label>
        <br> 
        <textarea name="empaddr" id="empaddr" cols="30" rows="3">{{em.employee_address}}</textarea>
        <br> <br>
        
        <input type="submit" id="empsubmit" value="Submit">
        </div>
    </form>
</section>
{% endblock content %}