{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/styleem.css' %}">
{% endblock %}
{% block title %}Panel Pegawai{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li class="logo">thitiphan</li>
    </ul>
    <ul>
        <li class="moto">Karena semua hanyalah titipan</li>
    </ul>
</nav>

<section id="tableall">
    <div class="linksl">
        <a class="retbtn" href="/inner">Kembali</a>
    </div>
    <h1><i class="fa-solid fa-clipboard-user"></i> Pegawai Daycare</h1>
    <table>
        <tr>
            <th>Id Pegawai</th>
            <th>Nama Pegawai</th>
            <th>Tanggal Lahir</th>
            <th>Jenis Kelamin</th>
            <th class="spad">Alamat</th>
            <th>Nomer Telepon</th>
            <th>Divisi</th>
            <th>Actions</th>
        </tr>
        {% for i in em_dt %}
        <tr>
            <td>{{i.employee_id}}</td>
            <td>{{i.employee_name}}</td>
            <td>{{i.employee_birth}}</td>
            <td>{{i.employee_gender}}</td>
            <td class="spad">{{i.employee_address}}</td>
            <td>{{i.employee_phone}}</td>
            <td>{{i.employee_department}}</td>
            <td class="spact"><a class="retbtn" href="/deleteem/{{i.employee_id}}">Hapus</a> <a class="spbtn" href="/editem/{{i.employee_id}}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    <div class="linksl">
        <a class="spbtn" href="/add_employee/">Tambah Pegawai Baru</a>
    </div>
</section>

{% endblock content %}