{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/styleindex.css' %}">
{% endblock %}
{% block title %}HOME{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li class="logo">thitiphan</li>
    </ul>
    <ul>
        <li class="moto"> Karena semua hanyalah titipan</li>
    </ul>
</nav>
<section id="halaman">
    <p class="logo1">thitiphan</p>
    <p class="data">DAY CARE DATA MANAGEMENT SYSTEM</p>
    <div class="impbtn">
        <div class="button">    
            <a href="children/">
                <button class="inbtn">
                    <i class="fa-solid fa-child"></i>
                    <br>
                    kids db
                </button>
            </a>
        </div>
        <div class="button">
            <a href="inner/">
                <button class="inbtn">
                    <i class="fa-solid fa-house-user"></i>
                    <br>
                    DC Inner db
                </button>
            </a>
        </div>
</section>
{% endblock content %}