{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/stylelog.css' %}">
{% endblock %}
{% block title %}Panel Logistik{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li class="logo">thitiphan</li>
    </ul>
    <ul>
        <li class="moto"> Karena semua hanyalah titipan</li>
    </ul>
</nav>

<section id="tableall">
    <div class="linksl">
        <a  class="retbtn" href="/inner/">Return</a>
    </div>
    <h1><i class="fa-solid fa-folder"></i> Panel Logistik</h1>
    <br>
    <div class="logpanel">  
        <div class="logtable">
            <h4><i class="fa-solid fa-cart-flatbed fa-flip-horizontal"></i> Perlengkapan</h4>
            <table>
                <tr>
                    <th>ID Perlengkapan</th>
                    <th>Nama Perlengkapan</th>
                    <th class="simp">Kondisi</th>
                    <th>PJ</th>
                    <th>actions</th>
                </tr>
                {% for i in eq_dt %}
                <tdr>
                    <td>{{i.eqs.equipment_id}}</td>
                    <td>{{i.eqs.equipment_name}}</td>
                    <td class="simp">{{i.eqs.equipment_con}}</td>
                    <td>{{i.employees.employee_name}}</td>
                    <td><a class="retbtn1" href="/deleteeq/{{i.eqs.equipment_id}}">Hapus</a> <br> <br> <a class="spbtn1" href = "/editeq/{{i.eqs.equipment_id}}">Edit</a></td>
                </tr>
                {% endfor %}
            </table>
            <a class="spbtn" href="/add_item/">Tambah Perlengkapan Baru</a>
        </div>
        <div class="logtable">
            <h4><i class="fa-solid fa-car-side fa-flip-horizontal"></i> Mainan</h4>
            <table>
                <tr>
                    <th>ID Mainan</th>
                    <th>Nama Mainan</th>
                    <th class="simp">Kondisi</th>
                    <th>PJ</th>
                    <th>actions</th>
                </tr>
                {% for i in toy_dt %}
                <tdr>
                    <td>{{i.toys.toy_id}}</td>
                    <td>{{i.toys.toy_name}}</td>
                    <td class="simp">{{i.toys.toy_con}}</td>
                    <td>{{i.employees.employee_name}}</td>
                    <td><a class="retbtn1" href="/deletetoy/{{i.toys.toy_id}}">Hapus</a> <br> <br> <a class="spbtn1" href = "/edittoy/{{i.toys.toy_id}}">Edit</a></td>
                </tr>
                {% endfor %}
            </table>
            <a  class="spbtn" href="/add_toy/">Tambah Mainan Baru</a>
        </div>
        <div class="logtable">
            <h4><i class="fa-solid fa-boxes-stacked"></i> Persediaan</h4>
            <table>
                <tr>
                    <th>ID Persediaan</th>
                    <th>Nama persediaan</th>
                    <th class="simp">Jumlah</th>
                    <th>PJ</th>
                    <th>actions</th>
                </tr>
                {% for i in sp_dt %}
                <tr>
                    <td>{{i.sps.supply_id}}</td>
                    <td>{{i.sps.supply_name}}</td>
                    <td class="simp">{{i.sps.supply_amt}}</td>
                    <td>{{i.employees.employee_name}}</td>
                    <td class="spact"><a class="retbtn1" href="/deletesupp/{{i.sps.supply_id}}">Hapus</a> <br> <br> <a class="spbtn1" href = "/editsupp/{{i.sps.supply_id}}">Edit</a></td>
                </tr>
                {% endfor %}
            </table>
            <a  class="spbtn" href="/add_supply/">Tambah Persediaan Baru</a>
        </div>
    </div>
</section>
{% endblock content %}