{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/stylepr.css' %}">
{% endblock %}
{% block title %}Panel Orangtua{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li class="logo">thitiphan</li>
    </ul>
    <ul>
        <li class="moto">Karena semua hanyalah titipan</li>
    </ul>
</nav>
<section id="tableall">
    <div class="linksl">
        <a class="retbtn" href="/chdb/">Kembali</a>
    </div>
    <h1>Orangtua</h1>
    <table>
        <tr>
            <th>Id Orangtua</th>
            <th>Ibu</th>
            <th>Telepon Ibu</th>
            <th>Ayah</th>
            <th>Telepon Ayah</th>
            <th class="spad">Alamat</th>
            <th class="spact">Actions</th>
        </tr>
        {% for i in pr_dt %}
        <tr>
            <td>{{i.parent_id}}</td>
            <td>{{i.m_name}}</td>
            <td>{{i.m_phone}}</td>
            <td>{{i.f_name}}</td>
            <td>{{i.f_phone}}</td>
            <td class="spad">{{i.parent_address}}</td>
            <td class="spact"><a class="retbtn" href="/deletepr/{{i.parent_id}}">Hapus</a> <a class="spbtn" href="/editpr/{{i.parent_id}}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    <div class="linksl">
        <a class="spbtn" href="/add_parent/">Tambah Orangtua Baru</a>
    </div>
</section>

{% endblock content %}